@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

<style>

header {
  background-color: #FAE8DD;
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  padding: 5px;
  margin: 5px;
}

body {
  background: beige url("images/henry-be-803712-unsplash.jpg") repeat;
  background-size: 100%;
  font-family: 'Comfortaa';
  margin: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  opacity: 0.85;
  padding: 10px;
  margin: 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

#header_bar {
  background: #eddacd url("images/old-grunge-paper-texture-background.jpg")
}

.title {
  font-family: "Cormorant Garamond";
  background-color: #FAE8DD;
  padding: 5px;
  margin: 5px;
  opacity: 0.8;
}

.displaybox {
  background: #eddacd url("images/old-grunge-paper-texture-background.jpg")
}

.container {
  background-color: #eddacd;
}

.navigator_bar {
  background-color: #FAE8DD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  opacity: 0.8;
}

a:link {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:visited {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#index_button {
  background: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.data_field {
  background: #eddacd url("images/old-grunge-paper-texture-background.jpg");
  background-size: 100%
  /* background-color: #eddacd; */
}

.data_field > *{
  background-color: #FAE8DD;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  opacity: 0.8;
}

.entry_field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  opacity: 0.8;
}

#add_button {
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Comfortaa';
  font-size: 18px;
  margin: 2px;
  padding: 5px;
}

</style>
