{% extends "APILibraryApp/navigator.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'APILibraryApp/basestyle.css' %}">
<div id="Profile">
  <div class="title">
    <h2>Edit Profile</h2>
  </div>
  <div>Profile Name</div>
  <div class="data_field" id="profile_info">
    <input class="input_profile" id="sn_input" placeholder="text" value="Profile Name"/>
  </div>
  <div>Name</div>
  <span class="data_field" id="profile_info">
    <input class="input_profile" id="name_input1" placeholder="text" value="First Name"/>
  </span>
  <span class="data_field" id="profile_info">
    <input class="input_profile" id="name_input2" placeholder="text" value="Last Name"/>
  </span>
  <div>Birthday</div>
  <div class="data_field" id="profile_info">
    <input class="input_profile" id="birthday" type="date"/>
  </div>
  <div>Location</div>
  <div class="data_field" id="profile_info">
    <input class="input_profile" id="name_input2" placeholder="text" value="Last Name"/>
  </div>
  <div>Describe Yourself!</div>
  <div class="data_field" id="profile_info">
    <textarea rows = "5" cols = "60" name = "description">
enter details here.
    </textarea><br>
  </div>
</div>
<script type="text/javascript">
  let ProfileFill = new Vue({
    el: '#ProfileFill',
    delimiters: ['[[', ']]'],
    data: {
      books: [],
      authors: [],
      resultsPerPage: 5,
      page: 1,
    },
    methods: {
      lookup: function() {
        let startIndex = (this.page - 1)*this.resultsPerPage
        let config = {
          params: {
            q: this.search_books,
            startIndex: startIndex,
            maxResults: this.resultsPerPage
          }
        }
        axios.get(url, config).then(response => {
          let data = response.data
          this.items = []
          this.startIndex = response.data.startIndex
          for (let i=0; i<data.items.length; ++i) {
            let bookID = data.items[i].id
            let title = data.items[i].volumeInfo.title
            let authors = data.items[i].volumeInfo.authors
            let languages = data.items[i].volumeInfo.language
            let page_count = data.items[i].volumeInfo.pageCount
            if (!page_count)
              page_count = 0
            let publish_date = data.items[i].volumeInfo.publishedDate
            publish_date = this.checkValue(publish_date)
            let publisher = data.items[i].volumeInfo.publisher
            publisher = this.checkValue(publisher)
            let isbn_array = []
            if (data.items[i].volumeInfo.industryIdentifiers)
              isbn_array = data.items[i].volumeInfo.industryIdentifiers
            // let isbn_string = isbn_array.map(x => )
            let ebook = data.items[i].saleInfo.isEbook
            let is_ebook = 'No'
            if (ebook)
              is_ebook = 'Yes'
            let category_tags = []
            if (data.items[i].volumeInfo.categories)
              category_tags = data.items[i].volumeInfo.categories
            let user_tags = data.user_tags
            //usertag function goes here//
            let description = data.items[i].volumeInfo.description
            description = this.checkValue(description)
            let thumbnail = ''
            if (data.items[i].volumeInfo.imageLinks)
              thumbnail = data.items[i].volumeInfo.imageLinks.thumbnail
            this.items.push({
              bookID: bookID,
              title: title,
              authors: authors,
              languages: languages,
              page_count: page_count,
              publish_date: publish_date,
              publisher: publisher,
              isbn_array: isbn_array,
              ebook: ebook,
              is_ebook: is_ebook,
              category_tags: category_tags,
              user_tags: user_tags,
              description: description,
              thumbnail: thumbnail,
            })
          }
        })
      },
      saveThis: function(item) {
        let app = this
        let data = {
          'bookID': item.bookID,
          'title': item.title,
          'authors': item.authors,
          'languages': item.languages,
          'page_count': item.page_count,
          'publish_date': item.publish_date,
          'publisher': item.publisher,
          'isbn': item.isbn_array.map(x => x.identifier).join(', '),
          'ebook': item.ebook,
          'category_tags': item.category_tags,
          'description': item.description,
          'thumbnail': item.thumbnail,
        }
        let config = {
          headers: {
            'X-CSRFToken': '{{csrf_token}}'
          }
        }
        axios.post("{% url 'APILibraryApp:saveBook' %}", data, config).then(function(response) {
          console.log(response.data)

          if (response.data == 'failure') {
            alert('Please log in.')
          } else if (response.data == 'already added') {
            alert('Already added.')
          } else {
            alert('Successfully added.')
          }
        })
      },
    }
  })
</script>
{% endblock %}
