{% extends "APILibraryApp/navigator.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "APILibraryApp/basestyle.css" %}">
<div class="data_field" id="Profile">
  <div class="title"><h2>{{ profile.username }}</h2></div>
  <div class="entry_field" id="profile_info">
    Name:<br>
    <span> {{ profile.first_name }} {{ profile.last_name }}</span>
  </div>
  <div class="entry_field" id="profile_info">
    Birthday:<br>
    <span> {{ profile.prettybirthday }}</span>
  </div>
  <div class="entry_field" id="profile_info">
    Location:<br>
    <span> {{ profile.location }}</span>
  </div>
  <div class="entry_field" id="profile_info">
    Description:<br>
    <div> {{ profile.description }}</div>
  </div>
</div>
<div class="container" id="MyShelf">
    <div class="data_field" id="book_data">
      <div class="title"><h2>{{ profile.username }}'s Bookshelf</h2></div>
      <div class="container" id="book_entry" v-for="item in items">
        <div class="image"><img v-bind:src="item.thumbnail"/></div>
        <div class="entry_field"><a>ID: [[item.bookID]]</a></div>
        <div class="entry_field"><a>Title: [[ item.title ]]</a></div>
        <div class="entry_field"><a>Author: <span v-for="(author, index) in item.authors"> [[ author ]]<span v-if="index+1 < item.authors.length"> / </span></span></a></div>
        <div class="entry_field"><a>Languages: [[ item.languages ]]</a></div>
        <div class="entry_field"><a>Pages: [[ item.page_count ]]</a></div>
        <div class="entry_field"><a>Published: [[ item.publish_date ]]</a></div>
        <div class="entry_field"><a>Publisher: [[ item.publisher ]]</a></div>
        <div class="entry_field"><a>ISBN: <span v-for="(isbn, index) in item.isbn_array">[[ isbn.identifier ]]<span v-if="index+1 < item.isbn_array.length"> / </span></span></a></div>
        <div class="entry_field"><a>Ebook: [[ item.is_ebook ]]</a></div>
        <div class="entry_field"><a>Categories: <span v-for="tag in item.category_tags"> [[ tag ]] </span></a></div>
        <div class="entry_field"><a>User Tags: <span v-for="(tag, index) in item.user_tags">[[ tag ]]<span v-if="index+1 < item.user_tags.length"> / </span></span></a></div>
        <div class="entry_field"><a>Description:<br> [[ item.description ]]</a></div>
        <div class="container" id="add_container"><button class="button" id="add_button" v-on:click="saveThis(item)">Add Book to MyShelf </button></div>
        <div class="container" id="add_container"><button class="button" id="add_button" v-on:click="tagThis(item)">Add Tag to Book</button>
          <select id="tag_select" v-model="select_tag">
            <option></option>
            <option v-for="tag in tags">[[ tag.name ]]</option>
          </select>
        </div>
        <div><hr/></div>
      </div>
    </div>
</div>
<script type="text/javascript">
  let MyShelf = new Vue({
    el: '#MyShelf',
    delimiters: ['[[', ']]'],
    data: {
      book_ids: [
      {% for book in profile_user.books.all %}
        "{{book.bookID}}",
      {% endfor %}
      ],
      select_tag: '',
      items: [],
      tags: [],
      resultsPerPage: 10,
      page: 1,
    },

    methods: {
      checkValue: function(value) {
        if (!value) {
          return ''
        }
        return value
      },

      tagGen: function() {
        axios.get("{% url 'APILibraryApp:getTags' %}").then(response => {
          let data = response.data
          this.tags = []
          for (let i=0; i<data.tags.length; ++i) {
            let name = data.tags[i].name
            this.tags.push({
              name: name,
            })
          }
        })
      },

      lookup: function(volume_id) {
        let url = "https://www.googleapis.com/books/v1/volumes/" + volume_id + '/'
        let startIndex = (this.page - 1)*this.resultsPerPage
        let maxResults = this.resultsPerPage
        let config = {
          params: {
            startIndex: startIndex,
            maxResults: maxResults,
            // key: "{{ key }}"
          }
        }
        console.log(url)
        axios.get(url, config).then(response => {
          let data = response.data
          this.startIndex = response.data.startIndex
          let bookID = data.id
          let title = data.volumeInfo.title
          let authors = data.volumeInfo.authors
          let languages = data.volumeInfo.language
          let page_count = data.volumeInfo.pageCount
          if (!page_count)
            page_count = 0
          let publish_date = data.volumeInfo.publishedDate
          publish_date = this.checkValue(publish_date)
          let publisher = data.volumeInfo.publisher
          publisher = this.checkValue(publisher)
          let isbn_array = []
          if (data.volumeInfo.industryIdentifiers)
            isbn_array = data.volumeInfo.industryIdentifiers
          let ebook = data.saleInfo.isEbook
          let is_ebook = 'No'
          if (ebook)
            is_ebook = 'Yes'
          let category_tags = []
          if (data.volumeInfo.categories)
            category_tags = data.volumeInfo.categories
          let user_tags = data.user_tags
          //usertag function goes here//
          let description = data.volumeInfo.description
          description = this.checkValue(description)
          let thumbnail = ''
          if (data.volumeInfo.imageLinks)
            thumbnail = data.volumeInfo.imageLinks.thumbnail
          this.items.push({
              bookID: bookID,
              title: title,
              authors: authors,
              languages: languages,
              page_count: page_count,
              publish_date: publish_date,
              publisher: publisher,
              isbn_array: isbn_array,
              ebook: ebook,
              is_ebook: is_ebook,
              category_tags: category_tags,
              user_tags: user_tags,
              description: description,
              thumbnail: thumbnail,
            })
        })
      },

      saveThis: function(item) {
        let data = {
          'bookID': item.bookID,
          'title': item.title,
          'authors': item.authors,
          'languages': item.languages,
          'page_count': item.page_count,
          'publish_date': item.publish_date,
          'publisher': item.publisher,
          'isbn': item.isbn_array.map(x => x.identifier).join(', '),
          'ebook': item.ebook,
          'category_tags': item.category_tags,
          'description': item.description,
          'thumbnail': item.thumbnail,
        }
        let config = {
          headers: {
            'X-CSRFToken': '{{csrf_token}}'
          }
        }
        axios.post("{% url 'APILibraryApp:saveBook' %}", data, config).then(response => {
          if (response.data == 'failure') {
            alert('Please log in.')
          } else if (response.data == 'already added') {
            alert('Already added.')
          } else {
            alert('Successfully added.')
          }
        })
      },

      tagThis: function(item) {
        let data = {
          'bookID': item.bookID,
          'tag': this.select_tag
        }
        let config = {
          headers: {
            'X-CSRFToken': '{{csrf_token}}'
          },
        }
        axios.post("{% url 'APILibraryApp:saveTags' %}", data, config).then(response => {
          if (response.data == 'failure') {
            alert('Please log in.')
          } else if (response.data == 'already added') {
            alert('Already added.')
          } else {
            alert('Successfully added')
          }
        })
      },
    },

  created: function() {
    console.log('active')
    for (let i=0; i<this.book_ids.length; i++) {
      this.lookup(this.book_ids[i])
    }
    this.tagGen()
  },
})
</script>
{% endblock %}
