<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="APILibrary">
      <input type="text" v-model="search_books"/></input>
      <button v-on:click="searchRepos">search</button>
      <div id="book_data">
        <div v-for="item in items">
          <div><a>ID: [[item.id]]</a></div>
          <div><a>Title: [[ item.title ]]</a></div>
          <div><a>Author: [[ item.author ]]</a></div>
          <div><a>Languages: [[ item.languages ]]</a></div>
          <div><a>Pages: [[ item.page_count ]]</a></div>
          <div><a>Published: [[ item.publish_date ]]</a></div>
          <div><a>Publisher: [[ item.publisher ]]</a></div>
          <div><a>ISBN: [[ item.isbn_array ]]</a></div>
          <div><a>Type: [[ item.print_type ]]</a></div>
          <div><a>Categories: [[ item.categories ]]</a></div>
          <div><a>User Categories: [[ item.usertags ]]</a></div>
          <div><a>Description:<br> [[ item.description ]]</a></div>
          <hr/>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      let APILibrary = new Vue({
        el: '#APILibrary',
        delimiters: ['[[', ']]'],
        data: {
          search_books: 'search books here',
          items: [],
        },
        methods: {
          searchRepos: function() {
            let url = "https://www.googleapis.com/books/v1/volumes?"
            let config = {
              params: {
                q: this.search_books
              }
            }
            axios.get(url, config).then(response => {
              console.log(response.data)
              let data = response.data
              this.items = []
              this.authors = ''
                for (let i=0; i<data.items.length; ++i) {
                  let id = data.items[i].id
                  let title = data.items[i].volumeInfo.title
                  let authors = ''
                  if (data.items[i].volumeInfo.authors)
                    authors = data.items[i].volumeInfo.authors.join(', ')
                  let languages = data.items[i].volumeInfo.language
                  let page_count = data.items[i].volumeInfo.pageCount
                  let publish_date = data.items[i].volumeInfo.publishedDate
                  let publisher = data.items[i].volumeInfo.publisher
                  let isbn_array = ''
                  for (let j=0; j<data.items[i].volumeInfo.industryIdentifiers.length; ++j)
                    isbn_array data.items[i].volumeInfo.industryIdentifiers[j]["identifier"].join(', ')
                  let print_type = data.items[i].volumeInfo.printType
                  let category_tags = data.items[i].volumeInfo.categories
                  let categories = ''
                  if (data.items[i].volumeInfo.categories)
                    categories = data.items[i].volumeInfo.categories.join(', ')
                  let user_tags = []
                  let usertags = ''
                  //usertag function goes here//
                  let description = data.items[i].volumeInfo.description
                  let thumbnail = data.items[i].volumeInfo.imageLinks.thumbnail
                  this.items.push({
                    id: id,
                    title: title,
                    authors: authors,
                    languages: languages,
                    page_count: page_count,
                    publish_date: publish_date,
                    publisher: publisher,
                    isbn_array: isbn_array,
                    print_type: print_type,
                    category_tags: category_tags,
                    categories: categories,
                    user_tags: user_tags,
                    description: description,
                    thumbnail: thumbnail,
                  })
                }
              })
            }
          }
        })
    </script>
  </body>
</html>
