<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="APILibrary">
      <div id="search_navigator">
        <input type="text" v-model="search_books" v-on:keydown.enter="resetLookup"></input>
        <span>Page:</span>
        <button v-on:click="pageBack">←</button>
        <input type="number" v-model="page"/></input>
        <button v-on:click="lookup">GoTo</button>
        <button v-on:click="pageForward">→</button>
        <span>Results Per Page</span>
        <select v-model="resultsPerPage"/>
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
        <button v-on:click="resetLookup">🔎</button>
      </div>
      <div id="book_data">
        <div v-for="item in items">
          <div><img v-bind:src="item.thumbnail"/></div>
          <div><a>ID: [[item.bookID]]</a></div>
          <div><a>Title: [[ item.title ]]</a></div>
          <div><a>Author: <span v-for="author in item.authors">[[ author ]] </span></a></div>
          <div><a>Languages: [[ item.languages ]]</a></div>
          <div><a>Pages: [[ item.page_count ]]</a></div>
          <div><a>Published: [[ item.publish_date ]]</a></div>
          <div><a>Publisher: [[ item.publisher ]]</a></div>
          <div><a>ISBN: <span v-for="isbn in item.isbn_array">[[ isbn.identifier ]] </span></a></div>
          <div><a>Ebook: [[ item.is_ebook ]]</a></div>
          <div><a>Categories: [[ item.categories ]]</a></div>
          <div><a>User Tags: <span v-for="tag in item.user_tags">[[ tag ]]</span></div>
          <div><a>Description:<br> [[ item.description ]]</a></div>
          <button v-on:click="saveThis(item)">Add Book to MyShelf</button>
          <hr/>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      let APILibrary = new Vue({
        el: '#APILibrary',
        delimiters: ['[[', ']]'],
        data: {
          search_books: 'Enter search info here',
          items: [],
          resultsPerPage: 10,
          page: 1,
        },
        methods: {
          pageForward: function() {
            this.page += 1
            this.lookup()
          },

          pageBack: function() {
            if (this.page > 1) {
              this.page -= 1
            }
            this.lookup()
          },

          resetLookup: function() {
            this.page = 1
            this.lookup()
          },

          lookup: function() {
            let url = "https://www.googleapis.com/books/v1/volumes?"
            let startIndex = (this.page - 1)*this.resultsPerPage
            let config = {
              params: {
                q: this.search_books,
                startIndex: startIndex,
                maxResults: this.resultsPerPage
              }
            }
            axios.get(url, config).then(response => {
              let data = response.data
              this.items = []
              this.startIndex = response.data.startIndex
                for (let i=0; i<data.items.length; ++i) {
                  let bookID = data.items[i].id
                  let title = data.items[i].volumeInfo.title
                  let authors = data.items[i].volumeInfo.authors
                  let languages = data.items[i].volumeInfo.language
                  let page_count = data.items[i].volumeInfo.pageCount
                  let publish_date = data.items[i].volumeInfo.publishedDate
                  let publisher = data.items[i].volumeInfo.publisher
                  let isbn_array = data.items[i].volumeInfo.industryIdentifiers
                  // let isbn_string = isbn_array.map(x => )
                  let ebook = data.items[i].saleInfo.isEbook
                  let is_ebook = 'No'
                  if (ebook)
                    is_ebook = 'Yes'
                  let category_tags = data.items[i].volumeInfo.categories
                  let categories = ''
                  if (data.items[i].volumeInfo.categories)
                    categories = data.items[i].volumeInfo.categories.join(', ')
                  let user_tags = []
                  if (data.user_tags == [])
                    data.user_tags = ''
                  //usertag function goes here//
                  let description = data.items[i].volumeInfo.description
                  let thumbnail = data.items[i].volumeInfo.imageLinks.thumbnail
                  this.items.push({
                    bookID: bookID,
                    title: title,
                    authors: authors,
                    languages: languages,
                    page_count: page_count,
                    publish_date: publish_date,
                    publisher: publisher,
                    isbn_array: isbn_array,
                    ebook: ebook,
                    is_ebook: is_ebook,
                    category_tags: category_tags,
                    categories: categories,
                    user_tags: user_tags,
                    description: description,
                    thumbnail: thumbnail,
                  })
                }
              })
            },
            saveThis: function(item) {
              let app = this
              let data = {
                'bookID': item.bookID,
                'title': item.title,
                'authors': item.authors,
                'languages': item.languages,
                'page_count': item.page_count,
                'publish_date': item.publish_date,
                'publisher': item.publisher,
                'isbn': item.isbn_array.map(x => x.identifier).join(', '),
                'ebook': item.ebook,
                'category_tags': item.category_tags,
                'description': item.description,
                'thumbnail': item.thumbnail,
              }
              let config = {
                headers: {
                  'X-CSRFToken': '{{csrf_token}}'
                }
              }
              axios.post("{% url 'APILibraryApp:saveBook' %}", data, config).then(function(response) {
                console.log(response.data)
              })
            },
            // save_book: function(book) {
            //   axios.post().then(function(response) {
            //
            //   })
            // }
          }
        })
    </script>
  </body>
</html>
