<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WorldShelf</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <!--Navigator bar that renders at the top of every page using template inheritance.-->
  <body>
    <div class="displaybox">
    <header>
      <div class="container" id="header_bar">
        <div class="title">
          <h1>WorldShelf: Your Personal Online Bookshelf</h1>
        </div>
        <div class="navigator_bar" id="index_bar">
          {% if user.is_authenticated %}
          <!--Only displays your Profile link if you are logged in; otherwise you can find profiles through Search Profiles.-->
          <div class="container" id="index_button">
            <span><a href="{% url 'ProfileApp:userProfile' user.username %}">Profile</a></span>
          </div>
          {% endif %}
          <div class="container" id="index_button">
            <span><a href="{% url 'APILibraryApp:bookSearch' %}">Search Books</a></span>
          </div>
          <div class="container" id="index_button">
            <span><a href="{% url 'APILibraryApp:tagSearch' %}">Search Tags</a></span>
          </div>
          <div class="container" id="index_button">
            <span><a href="{% url 'ProfileApp:searchProfiles' %}">Search Profiles</a></span>
          </div>
          <div class="container" id="index_button">
            <span><a href="{% url 'ProfileApp:editProfile' request.user %}">Edit Profile</a></span>
          </div>
          <div class="container" id="index_button">
            <span><a href="{% url 'users:register_login' %}">Register/Login</a></span>
          </div>
          <div class="container" id="index_button">
            <span><a href="{% url 'users:logout_user' %}">Logout</a></span>
          </div>
        </div>
      </div>
    </header>
    <!--Page content goes here.-->
    {% block content %}{% endblock %}
  </body>
  <footer>
    <!--Credit banner for photographers of free background images in footer. Might make random rotating background images later.-->
    <div class="container">
      Background: <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@henry_be?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Henry Be"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Henry Be</span></a>
    </div>
  </footer>
  </div>
</html>
